DATABASE_URL="postgresql://tahir:Raihan12@128.199.31.100:5432/tsr_db"
MINIO_ENDPOINT="http://128.199.31.100:9000"
MINIO_ACCESS_KEY="tahir"
MINIO_SECRET_KEY="Raihan12"
MINIO_BUCKET="tsrfashion-products"
MINIO_PUBLIC_URL="http://128.199.31.100:9000/tsrfashion-products"
MINIO_REGION="us-east-1"
